
/* CSS Document */

/*img           { border:0; vertical-align:top; }*/

a             { text-decoration:none; }
a:hover       { text-decoration:none; }
focus        { outline:0px; }

/* Headings */
h1          { margin:0px 0px 5px 0px; padding:0px; font-family: Arial, Helvetica, sans-serif; font-size:17px; font-weight:bold; color:#000;}
h1 span          { color:#388ac1;}

h2          { margin:0px 0px 5px 0px; padding:0px; font-family: Arial, Helvetica, sans-serif; font-size:17px; font-weight:bold; color:#145c9d; display:inline;}
h2 span          {color:#000; display:inline;}

h3          { font-size:1.35em; line-height:1.25; margin-bottom:.45em; }
h4          { margin:0px 0px 5px 0px; padding:0px; font-family: Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#145c9d; }
h5          { font-size:1.05em; line-height:1.35; margin-bottom:.45em; }
h6          { font-size:1em; line-height:1.35; margin-bottom:1em; }
hr         {}

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }



/* Content */
p             { margin:0px; line-height:17px; text-align:justify; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size:1em; }
big           { font-size:1.15em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { margin:0px; padding:0px; list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
.clr{margin:0px; padding:0px; clear:both;}
/* ======================================================================================= */

html,body{ margin:0px; 
           padding:0px; 
           font-family: 'Conv_itc-berkeley-oldstyle-lt-medium'; 
           font-style:normal; font-size:16px; font-weight:normal; 
           text-decoration:none; 
           color: black;
           /*background:url(../images/bg.jpg) repeat;*/


           /* for non-css3 browsers */







}

html{






}
.headerbg{margin:0px; padding:0px; width:100%; height: 139px; }
.header-container{margin:0px auto; padding:0px; width:955px; }
.logo{margin:14px 0px 0px 0px; padding:0px; width:237px; float:left;}
.topmenu{margin:58px 0px 0px 0px; padding:0px; width:455px; float:right;}
.my-box { margin:5px 0px; padding:0px ; border:1px solid #9F9A9D;
          background:url(../images/top_menubg.gif) left top repeat-x; height:32px;
          border-top-right-radius: 10px;
          border-top-left-radius:10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          box-shadow:0 0 1px 1px #BABABE;
}
#all{
    min-height: 100%;
    height: auto !important;
    height: 100%; /*for IE*/

    background-image: linear-gradient(center bottom, #F7F7F7 14%, #C9D8A9 93%) ;
    background-image: -o-linear-gradient(center bottom, #F7F7F7 14%, #C9D8A9 93%);
    background-image: -moz-linear-gradient(center bottom, #F7F7F7 14%, #C9D8A9 93%);
    background-image: -webkit-linear-gradient(center bottom, #F7F7F7 14%, #C9D8A9 93%);
    background-image: -ms-linear-gradient(center bottom, #F7F7F7 14%, #C9D8A9 93%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, #F7F7F7),
        color-stop(0.93, #C9D8A9)
        );

    background-repeat: no-repeat;

}


ul.toplink,ul.toplink li{margin:0px; padding:0px; list-style-type:none;}
ul.toplink li{margin:0px; padding:0px; float:left;}
ul.toplink li a{margin:0px; padding:6px 40px 0px 16px; font: bold 15px "Trebuchet MS"; text-decoration:none; color:#026593; float:left }
ul.toplink li a:hover{text-decoration:none; color:#000000; }

.login-link{margin:0px 5px 14px 0px; padding:0px; font:normal 14px "Trebuchet MS"; text-decoration:none; text-align:right; color:#000;}
.login-link a{text-decoration:none; color:#000;}
.login-link a:hover{text-decoration:none; color:#026593;}

.main-middle-container{margin:10px auto 0px auto; padding:0px; width:955px; min-height:450px; border-top: #1B1B1B solid 1px; }
.middle-container{margin:10px auto 0px auto; padding:0px; width:955px; min-height:450px;border-top:  #1B1B1B solid 1px;}

.left-part{margin:10px 0px 0px 0px; padding:0px; width:464px; float:left;}
.inner-left-part{margin:10px 0px 0px 0px; padding:0px; width:680px; float:left;}
.left-part1{margin:60px 0px 0px 35px; padding:0px; width:464px; float:left;}
.left-part h1{margin:0px 0px 22px 5px; padding:0px; font-family:'Conv_helvetica-neue-condensed-bold1'; font-style:normal; text-transform:uppercase; font-size:27px; font-weight:normal; color:#fff;}

.blue-box { margin:0px 0px 0px 0px; padding:10px ; border:2px solid #184A61;
            background:#34677B;
            border-top-right-radius: 10px;
            border-top-left-radius:10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 380px;
            width: 950px;
}

.blue-box-text { margin 0px ; padding:10px; height: auto; width:950px; } 

.blue-box-text p { margin:0px; padding:0px ; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-style:italic;  font-size:21px; text-decoration:none; line-height:30px; color:#2E2E2E;}

.heading { margin:0px; padding:0px ; }
.heading h1 { margin:87px 0px 10px 5px; padding:0px; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium';  font-size:21px; text-decoration:none; font-style:italic; text-transform:none; color:#fff; }

.heading2{ margin:28px 0px 0px 0px; padding:0px ; }
.heading2 h1 { margin:0px 0px 0px 5px ; padding:0px ; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-size:21px; text-decoration:none; font-style:italic; text-transform:none; color:#fff; }
.heading2 p { margin:20px 5px 0px 5px ; padding:0px ; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-style:italic; font-size:16px; text-decoration:none; line-height:22px; color:#fff; }

.read-link { margin:15px 0px 0px 0px; padding:0px; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-size:21px; text-decoration:none; text-align:right; font-style:italic; color:#fff; }
.read-link a{text-decoration:none; color:#fff; }
.read-link a:hover{text-decoration:none; color:#000; }
.white-box { margin:0px auto; padding:6px ; width:441px; background:#fff; }

.right-part{margin:80px 0px 0px 0px; padding:0px; width:441px; float:right; position:relative;}
.white-box1 { margin:0px; padding:6px ; width:441px; background:#fff; position:relative; right:14px; top:0px;}
.black-box { margin:0px 0px 0px 0px; padding:2px ; 
             background:#FFF;
             box-shadow:0 0 2px 2px #124770; 
}

.heading3{ margin:45px 0px 0px 0px; padding:0px ; position:relative; right:15px; top:0px; }
.heading3 h1 { margin:0px 0px 12px 0px ; padding:0px ; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-size:21px; text-decoration:none; font-style:italic; text-transform:none; color:#fff; }


.heading4{ margin:15px 0px 0px 0px; padding:0px ; position:relative; right:15px; top:0px; }
.heading4 h1 { margin:30px 0px 10px 0px ; padding:0px ; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-size:21px; text-decoration:none; font-style:italic; text-transform:none; color:#fff; }
.heading4 p { margin:20px 0px 0px 0px ; padding:0px ; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-size:16px; font-style:italic;  text-decoration:none; line-height:22px; color:#fff; }

.sliderbg{margin:0px auto; padding:0px; width:944px; }
.sliderbg h1{ margin:0px 0px 10px 0px ; padding:0px ; font-weight:normal; font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-size:21px; text-decoration:none; font-style:italic; text-transform:none; color:#fff;}
.greybg{margin:0px; padding:0px; background:#E6ECE0; border-top-width: 4px;
        border-bottom-width: 4px;
        border-top-style: double;
        border-bottom-style: double;
        border-top-color: #026593;
        border-bottom-color: #026593;
        padding: 8px 0px; }
.arrow-left{margin:0px; padding:0px; width:43px; float:left; position:relative; left:-20px; top:50px; }
.logo-section{margin:0px 0px 0px 45px; padding:12px 0px; width:768px; float:left;}
.arrow-right{margin:0px; padding:0px; width:43px; float:right; position:relative; right:-20px; top:50px;}

.footerbg{margin:0px 0px 0px 0px; padding:0px; width:100%;  
          background-image: linear-gradient(right , #F7F7F7 15%, #C9D8A9 50%, #F7F7F7 86%);
          background-image: -o-linear-gradient(right , #F7F7F7 15%, #C9D8A9 50%, #F7F7F7 86%);
          background-image: -moz-linear-gradient(right , #F7F7F7 15%, #C9D8A9 50%, #F7F7F7 86%);
          background-image: -webkit-linear-gradient(right , #F7F7F7 15%, #C9D8A9 50%, #F7F7F7 86%);
          background-image: -ms-linear-gradient(right , #F7F7F7 15%, #C9D8A9 50%, #F7F7F7 86%);

          background-image: -webkit-gradient(
              linear,
              right top,
              left top,
              color-stop(0.15, #F7F7F7),
              color-stop(0.5, #C9D8A9),
              color-stop(0.86, #F7F7F7)
              );}
.footer-container{margin:0px auto; border-top:1px solid #F7F7F7; padding:12px 0px; width:944px; font:normal 12px "Trebuchet MS"; text-align:center; line-height:20px; text-decoration:none; color:#000;}
.footer-container a{text-decoration:none; color:#000;}
.footer-container a:hover{text-decoration:none; color:#FFFEFF;}

/* Start Inner page css*/

.blue-box1 { 

    margin:0px; 
    padding:10px 16px 16px 16px ; 
    border:2px solid #184A61;
    background:#3A5E64;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background: #d1d1d1; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#d1d1d1'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#d1d1d1)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #999,  #d1d1d1); /* for firefox 3.6+ */



}
.blue-boxs { 

    margin:0px; 
    padding:10px 16px 16px 16px ; 

    background:#3A5E64;
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background: #d1d1d1; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#d1d1d1'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#d1d1d1)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #8b8b8b,  #d1d1d1); /* for firefox 3.6+ */



}
.blue-box2 { 

    margin:0px; 
    padding:10px 16px 16px 16px ; 
    border:2px solid #184A61;
    background:#3A5E64;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background: #d1d1d1; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#d1d1d1'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#d1d1d1)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #999,  #d1d1d1); /* for firefox 3.6+ */



}
.balance { 
    margin:0px 0px 10px 0px; padding:10px 16px 16px 16px ; border:2px solid #184A61;
    background:#3A5E64;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 10px;





}

.balance-box { 
    margin:0px 0px 10px 0px; 
    padding:10px 16px 20px 16px ; 
    border:2px solid #184A61;
    background:#8EB43E;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 10px;
    color: white;
    background: #8b8b8b; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6ECE0', endColorstr='#333'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#E6ECE0), to(#333)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E6ECE0,  #333); /* for firefox 3.6+ */
}

.inner-txt { text-align: left; padding: 0px; height: auto; font-style: italic;}
.inner-txt h1{ margin:18px 0px 8px 0px; padding:0px ; font:bold 16px "Trebuchet MS"; text-decoration:none; text-transform:none; color:#003f81; }



ul.calender-link, ul.calender-link li{margin:0px; padding:0px; list-style-type:none;}
ul.calender-link li{margin:0px; padding:0px;}
ul.calender-link li a{margin:0px; padding:0px 0px 0px 15px; font:bold 13px "Trebuchet MS"; text-decoration:none; line-height:23px; color:#fff; background:url(../images/link_icon.png) left 4px no-repeat;}
ul.calender-link li a:hover{text-decoration:none; color:#F8E839;}



.calender1{margin:0px; padding:0px; width:64px; float:left; text-align:center; font: bold 13px "Trebuchet MS"; color: #cd0a0a;}
.calender2{margin:0px 0px 0px 125px; padding:0px; width:64px; float:left; text-align:center; font: bold 13px "Trebuchet MS";color: #cd0a0a;}
.calender3{margin:0px; padding:0px; width:64px; float:right; text-align:center; font: bold 13px "Trebuchet MS"; color: #cd0a0a;}

.inner-calender1{ float:left; text-align:center; font: bold 13px "Trebuchet MS"; color: #003f81; padding: 10px;}
.inner-calender2{ float:left; text-align:center; font: bold 13px "Trebuchet MS";color: #003f81; padding: 10px;}
.inner-calender3{ text-align:center; float:left; font: bold 13px "Trebuchet MS"; color: #003f81; padding: 10px;}



.tabs { margin:63px 0px 0px 32px; padding:0px ; width:170px; float:left; }
.tabs1{ margin:63px 0px 0px 0px; padding:0px ; width:170px; float:left; }
ul.tabs-link, ul.tabs-link li{margin:0px; padding:0px; list-style-type:none;}
ul.tabs-link li{margin:0px; padding:0px; }
ul.tabs-link li a{margin:0px 0px 25px 0px; padding:15px 0px; background:#424242;
                  border-top-right-radius: 3px;
                  border-top-left-radius:3px;
                  border-bottom-right-radius: 3px;
                  border-bottom-left-radius: 3px;
                  box-shadow:0 4px 0px 0px #1B1B1B; display:block; text-align:center; font: bold 16px "Trebuchet MS"; text-decoration:none;  color:#fff; }

ul.tabs-link li a:hover{background:#A2BF5E;
                        border-top-right-radius: 3px;
                        border-top-left-radius:3px;
                        border-bottom-right-radius: 3px;
                        border-bottom-left-radius: 3px;
                        box-shadow:0 4px 0px 0px #1B1B1B; color:#2E2E2E; }

.right-box { margin:10px 0px 0px 0px; padding:0px ; width:252px; float:right; }


.right-featured-box { margin:0px; padding:0px ; 
                      background:#fff;
                      border-top-right-radius: 3px;
                      border-top-left-radius:3px;
                      border-bottom-right-radius: 3px;
                      border-bottom-left-radius: 3px;
                      box-shadow:0 0 1px 2px #0F476D;
                      height:181px;
                      text-align: center;

                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#d1d1d1'); /* for IE */
                      background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#d1d1d1)); /* for webkit browsers */
                      background: -moz-linear-gradient(top,  #999,  #d1d1d1); /* for firefox 3.6+ */
}

.right-featured-box h1 { margin:0px; padding:5px 0px 5px 10px ; 
                         background:#A2BF5E;
                         border-top-right-radius: 3px;
                         border-top-left-radius:3px;
                         border-bottom-right-radius: 0px;
                         border-bottom-left-radius: 0px;
                         color:#E6ECE0;
                         font: bold 16px "Georgia"; 
                         text-decoration:none;

                         filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6ECE0', endColorstr='#333'); /* for IE */
                         background: -webkit-gradient(linear, left top, left bottom, from(#E6ECE0), to(#333)); /* for webkit browsers */
                         background: -moz-linear-gradient(top,  #E6ECE0,  #333); /* for firefox 3.6+ */
}
.right-featured-box a {
    color:midnightblue;
    font: bold 14px "Georgia"; 
    text-decoration:none;

}

.searchResult { 
    margin:0px; 
    padding:0px ; 
    text-align: center;

}


ul.item-link, ul.item-link li{margin:5px 0px 0px 0px; padding:0px; list-style-type:none;}
ul.item-link li{margin:0px; padding:0px;}
ul.item-link li a{margin:0px; padding:0px 0px 0px 10px; font:bold 13px "Trebuchet MS"; text-decoration:none; line-height:19px; color:#3B3B3B;}
ul.item-link li a:hover{text-decoration:none; color:#186897;}

.newletterbg{margin:0px ; padding:0px 5px 0px 8px; width:361px; vertical-align:middle; height:38px;  border:none; background:url(../images/input_bg.gif) no-repeat left top; color:#333; font: bold 16px "Trebuchet MS"; text-decoration:none; color:#3B3B3B;}
.btn{margin:0px 0px 0px 0px; padding:0px; width:42px; height:38px; border:none; vertical-align:middle; background:url(../images/zoom_icon.gif) no-repeat left top; cursor:pointer; }


/* userPreference page specific css */
.up-blue-box { margin:0px 0px 0px 0px; padding:10px ; border:2px solid #184A61;
               background:#34677B;
               border-top-right-radius: 10px;
               border-top-left-radius:10px;
               border-bottom-right-radius: 10px;
               border-bottom-left-radius: 10px;
               height: auto;
               width: auto;
               font-style: normal;
}
#featuredGymsBox{
    color:#000;
    font-style: normal;

}
.pref{
    line-height: 40px;
    width: auto; 
}
.pref td{
    width : 50px;

}
.pref2{
    line-height: 25px;
    width: 100%;
    margin-left:  60px;
}

.underline_title{
    font-style: normal;
    text-decoration: none;
    color: #003f81;
    font-size: 1.05em;


}

#pref td{
    width : 80px;

}

.style_text{
    font-style: normal;
    text-decoration: none;
    color: #000000;
    font-size: 0.85em;


}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 3px solid #026593;
    background-color: #E6ECE0;
    z-index:1002;
    overflow: auto;
}
.topright{


    float: right;

}
.my-box2 { margin:5px 0px; padding:0px ; border:1px solid #9F9A9D;
           background:url(../images/top_menubg.gif) left top repeat-x; 
           height:32px;
           border-top-left-radius:10px;
           border-bottom-right-radius: 10px;
           border-bottom-left-radius: 10px;
           box-shadow:0 0 1px 1px #BABABE;
           width: 400px;
           float: left;
}
.toggle{


    display: none;
}
.header-box { margin:5px 0px; 
              padding:0px ;




}
.header-box table td{
    width: 25%;
    border-right:  solid;
    border-right-width: 1px;
    text-align:  center;
}
.header-box table #last{
    width: 25%;
    border-right:  none;

    text-align:  center;
}
.header-box table td a:hover{
    color: #8EB43E;
}


ul.header-link,ul.header-link li{margin:0px; padding:0px; list-style-type:none; }
ul.header-link li{margin:0px; padding:0px; float:left;width: 100px;}
ul.header-link li a{ margin:0px;  font: bold 15px "Trebuchet MS"; text-decoration:none; color:#026593; float:left }
ul.header-link li a:hover{text-decoration:none; color:#000000; background-color: #8EB43E;}




#inner-nav {

    font-style: normal;
    font-size: 1.2em;
    padding-left: 140px;

    height: 40px;
    border-radius: .5em;

    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

    background: #8b8b8b; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6ECE0', endColorstr='#333'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#E6ECE0), to(#333)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E6ECE0,  #333); /* for firefox 3.6+ */

    border: solid 1px #6d6d6d;
}
#inner-nav li {


    margin: 0;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
}
/* main level link */
#inner-nav a {

    font-family:  "Georgia";
    font-weight: bold;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding:  8px 20px;
    margin: 0;




    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/* main level link hover */
#inner-nav .current a, #inner-nav li:hover > a{

    background: #d1d1d1; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9F9A9D', endColorstr='#000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#9F9A9D), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #9F9A9D,  #000); /* for firefox 3.6+ */







}

.transparent{
    background-color:transparent;
    border: none;
    width: 500px;
}
.selected{
    background: #d1d1d1; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9F9A9D', endColorstr='#000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#9F9A9D), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #9F9A9D,  #000); /* for firefox 3.6+ */


    height: 77%;


}

.searchform {
    margin-left: 200px;
    display: inline-block;
    zoom: 1; /* ie7 hack for display:inline-block */

    border: solid 1px #d2d2d2;
    padding: 3px 5px;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    box-shadow: 0 1px 0px rgba(0,0,0,.1);

    background: #f1f1f1;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {
    font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 202px;
    border: solid 1px #bcbbbb;
    outline: none;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
    color: #fff;
    border: solid 1px #494949;
    font-size: 11px;
    height: 27px;
    width: 27px;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    background: #5f5f5f;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
    background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
    cursor: pointer;
}
#divexample1 {
    overflow: auto;
    height: 300px;
}
.round{
    font-style: normal;
    border-radius: 1em;
    padding: 2px;
    padding-left: 4px;
    font-size: 0.8em;
    background-color: #999;
    border: solid;
    border-color: #6d6d6d;


}

.buttons {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    color:#ffffff;
    font-family:Georgia;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}.buttons:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
    background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background-color:#1e62d0;
}.buttons:active {
    position:relative;
    top:1px;
}

/*..................................................................*/
.slides{
    position: relative;
    left: 50px;

}
.slides div{
    position: absolute;
    border:3px solid #E6ECE0;
    background:#2E2E2E;

}
.slides div h1{
    color: #E6ECE0;
}
#img1:hover{
    z-index: 1;
}
#img2{
    top:50px;
    left: -25px;
    transform:rotate(10deg);
    -ms-transform:rotate(10deg); /* Internet Explorer */
    -moz-transform:rotate(10deg); /* Firefox */
    -webkit-transform:rotate(10deg); /* Safari and Chrome */
    -o-transform:rotate(10deg); /* Opera */
}
.headingbox{
    margin-right:20px;width: 440px; height: 110px;
    padding: 10px;
    top: -30px;
    border: #2E2E2E solid 3px;
    border-radius:10px;
    background-color: #9EC34F;


}
.headingbox p{
    font-weight:normal; font-family:'Georgia'; font-size:14px; font-style:italic;  text-decoration:none; line-height:22px; color: #1B1B1B;;
}
.headingbox h1{
    font-family:'Conv_itc-berkeley-oldstyle-lt-medium'; font-size:21px; text-decoration:none; font-style:italic; text-transform:none; color:#fff;



    margin: -10px -10px 0px -10px;
    height: 30px;
    text-align: center;
}
#waiting{
    background: transparent;
}
/*..................................................................*/
#box-header{
    border-bottom: #000 solid 1px;
    border-top:  #000 solid 1px;
    width: 100%;
    height: 60px;float: left;overflow: hidden; 
    font-family: "Georgia";
    font-size: 1em;

}
.bold{
    font-family: "Georgia";
    font-size: 1em;  
    height: 10px;
}
.bil_label{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D7D7D7), color-stop(1, #ABABAB) );
    background:-moz-linear-gradient( center top, #D7D7D7 5%, #ABABAB 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;


    border-top-left-radius: 6px;
    -moz-border-top-left-radius:6px;
    -webkit-border-top-left-radius:6px;

    border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;


    display:inline-block;
    color: #2E2E2E;
    font-family:Georgia;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    width: 100%;
}
.bil_text{
    height: 30px;
    border-top-right-radius: 6px;
    -moz-border-top-right-radius:6px;
    -webkit-border-top-right-radius:6px;

    border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    border: none;
    padding-left: 5px; 

}
.less{
    width: 300px;
    float: left;
    clear: left;
}
#message{
    color: #900;


    border: #500 solid 1px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    margin-right: 35px;
    min-height: 20px;
    min-width: 300px;
    padding: 3px;
    text-align: center;

    font-family:Georgia;
    font-size:11px;
    font-weight:bold;
    width: 310px;
    float: right;


}

.buttons_new {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6d6d6d), color-stop(1, #E6ECE0) );
    background:-moz-linear-gradient( center top, #6d6d6d 5%, #E6ECE0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d6d6d', endColorstr='#E6ECE0');
    background-color:#6d6d6d;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:none;
    display:inline-block;
    color:#000;
    font-family:Georgia;
    font-size:11px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    width: 100%;
}.buttons_new:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E6ECE0), color-stop(1, #6d6d6d) );
    background:-moz-linear-gradient( center top, #E6ECE0 5%, #6d6d6d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6ECE0', endColorstr='#6d6d6d');
    background-color:#E6ECE0;
}.buttons_new:active {
    position:relative;
    top:1px;
}
.second-nav{
    cursor:pointer;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 100px;
    border-bottom: none;
    padding: 8px;
    text-align: center;
    font-weight: bold;
margin-left: 10px;

}