#bigdiv {
	height: 100%;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

#bigdiv #container {
	position: relative;
	height: 240px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
	margin-top: 10px;
	width: 100%;
	background-color: #00415f;
	-moz-box-shadow:inset 10px 10px 32px #000000;
	-webkit-box-shadow:inset 10px 10px 32px #000000;
	box-shadow:inset 10px 10px 32px #000000;
	/*-moz-box-shadow:inset 10px 10px 5px #000000;
	-webkit-box-shadow:inset 10px 10px 5px #000000;
	box-shadow:inset 10px 10px 5px #000000;*/

}


.item {
	height: 240px;
}


#bigdiv #container .cbox {
	position: relative;
	background-color: white;
	height: 100px;
	width: 100px;
	-moz-box-shadow: 5px 5px 10px #000000;
	-webkit-box-shadow: 5px 5px 10px #000000;
	box-shadow: 5px 5px 10px #000000;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
	float:left;
	/*border-style:solid;
	border-color: #006600;
	border-width: 2px;*/
	z-index: 1000;
}

#bigdiv #container .cbox .ctitle {
	padding-top: 20px;
	text-align: center;
}

#bigdiv #container .cbox .clogo {
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	height: 20px;
	width:40%;
}

#bigdiv .cbox img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#bigdiv .box {
	position: relative;
	background-color: white;
	height: 200px;
	width: 200px;
	-moz-box-shadow: 10px 10px 20px #000000;
	-webkit-box-shadow: 10px 10px 20px #000000;
	box-shadow: 10px 10px 20px #000000;
	margin-left: 30px;
	float:left;
	margin-bottom: 20px;

}

#bigdiv .bactive {
	position: relative;
	background-color: white;
	height: 200px;
	width: 200px;
	-moz-box-shadow: 10px 10px 20px #006600;
	-webkit-box-shadow: 10px 10px 20px #006600;
	box-shadow: 10px 10px 20px #006600;
	margin-left: 30px;
	float:left;
}


#bigdiv .box .gtitle {
	padding-top: 20px;
	text-align: center;
}

#bigdiv .box .glogo {
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
	height: 80px;
	width:80%;
}

#bigdiv .box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bigdiv .box .gdistance {
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	height: 80px;
	width:80%;
	text-align: center;
}

#bigdiv .box .gmatches {
  position:absolute;
  bottom:5px;
  left:10;
  right:0;
}

.gmatchratio {
	
}


.classModal {
	width: auto;
	height: auto;
	background-color: #00415f;
	left: 45%;
}

.modal-body {
	background-color: white;
}


#myModalLabel {
	color: white; 
}

#myModal #modal-body #modalCont {
	position: relative;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	height: 380px;
	width: 325px;
	background-color: white;
}


#modalCont #classInstructor {
	text-align: center;
}

#modalCont #classDesc {
	margin-top: 40px;
	height: 60px;
	overflow: hidden;
}

#modalCont #classSched {
	margin-top: 20px;
}

#modalCont #classSched .day {
	height: 30px;
	width: 300px;
	margin-right: 5px;
}

#modalCont #classSched .weekday {
	float: left;
	width: 30px;
	margin-right: 15px;
}

#modalCont #classSched .time {
	float: left;
	margin-left: 10px;
}

#modalCont #gymLogo {
	width: 40px;
	float: left;
	margin-left:auto;
	margin-right:auto;
}

#modalCont #gymInfo {
	margin-top: 5px;
	float: left;
	height: 80px;
}

.map {
    position:absolute;                  /* added */
    bottom:0;                           /* added */
    left:0;  
	display: block;
    width: 250px;
    height: 200px;
}