

.logo { 
	margin-top: 30px;
}

#hero {
	background:#FFFFFF url('../img/hero.png') no-repeat;
	background-size:100%;
	height: 100%;
}

#heroBlock {
	margin-top: 40px;
}

.heroMess {
	margin-top: 20px;
	font-family: "SkolaSans-Bold";
	font-size: 18px;
	color: #57b547;
	text-align: center;
}

.heroBreak {
	border-bottom-width: 1px;
	border-bottom-color: #57b547;
	border-bottom-style: solid;
}

#hero #heroOverlay {
	background: url('../img/greenBackground.png');
	background-size:100%;
	height: 100px;
	margin-top: 44px;
}

#heroOverlayTitle {
	margin-top: 10px;
	color: white;
	font-family: "SkolaSans-Bold";
	font-size: 18px;
	text-align: center
}

#heroOverlayMess {
	color: white;
	font-family: "SkolaSans-Regular";
	font-size: 14px;
	text-align: center
}

#notify {
	background: url('../img/greenBackground.png');
	background-size:100%;
	height: 100px;
	margin-top: 270px;
}

#emailHold {
	margin-top: 10px;
	margin-left: 20px;
}

#zipHold {
	margin-top: 10px;
}

.notifyMess {
	font-family: "SkolaSans-Bold";
  	font-size: 18px;
  	color: white;
  	margin-top: 10px;
  	margin-left: 20px;
}

#emailIn {
	width: 100%;
}

#zipIn {
	width: 80%;
	margin-left: 10px;
}

#nButton {
	width: 15%;
	height: 40px;
	margin-top: 8px;
}

#nButtonText {
  font-family: "SkolaSans-Bold";
  font-size: 18px;
  color: white;
  text-align: center;
  padding-top: 17px;
  padding-top: 12px;
}