script(src='js/jquery.min.js')
script(src='js/jquery.ui.custom.js')
script(src='js/bootstrap.min.js')
script(src='js/unicorn.js')
script(src='../assets/js/moment.min.js')
script(src='../assets/js/fitStew.js')
link(rel='stylesheet', href='css/bootstrap.min.cs') 
link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='css/unicorn.main.css') 
link(rel='stylesheet', href='css/bootstrap.min.cs') 
link(rel='stylesheet', href='css/bootstrap.min.cs') 
link(rel='stylesheet', href='css/bootstrap.min.cs') 
link(rel='stylesheet', href='css/fitstew.blue.css' class='skin-color') 
