
#calcontainer {
	background-color: grey;
	z-index: -50;
}


#timecont {
	background-color: black;
	z-index: 25;
	height: 600px;
	width: 80px;
}

.daycont {
	background-color: blue;
	height: 600px;
	width: 150px;
}

.eventCircles {
	background-color: red;
	height: 50px;
	width: 100px;
}

.timebox {
	height: 50px;
	width: 100px;
	background-color: green;
}