.contentBlock {
	height: 100%;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

div.datepicker { 
	z-index: 2050;
}

.transparent {
	background:rgba(255,255,255,0.5);
}


#bigdiv {
	height: 100%;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	/*background-color:white;*/
}

.contentBlock #infoContainer {
	position: relative;
	height: 200px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-bottom: 10px;
}

.contentBlock #profileContainer {
	position: relative;
	height: 200px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-bottom: 10px;
}

.contentBlock #profileContainer .partition {
	position: relative;
	height: 200px;
	width: 22%;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}



.contentBlock #profileContainer .partition img {
	margin-left: auto;
	margin-right: auto;
}

.contentBlock .container {
	position: relative;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 10px;
	padding-bottom: 10px;
	width: 80%;
	/*background-color: #00415f;
	-moz-box-shadow:inset 10px 10px 32px #000000;
	-webkit-box-shadow:inset 10px 10px 32px #000000;
	box-shadow:inset 10px 10px 32px #000000;*/
	/*-moz-box-shadow:inset 10px 10px 5px #000000;
	-webkit-box-shadow:inset 10px 10px 5px #000000;
	box-shadow:inset 10px 10px 5px #000000;*/

}

#break {
	height: 20px;
	width: 100%;
	background:url('../img/whitey.png') repeat;
	position: relative;
}

.item {
	height: auto;
	
}


#classesBlock #container .cbox {
	position: relative;
	background-color: white;
	height: 100px;
	width: 100px;
	-moz-box-shadow: 5px 5px 10px #000000;
	-webkit-box-shadow: 5px 5px 10px #000000;
	box-shadow: 5px 5px 10px #000000;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	float:left;
	/*border-style:solid;
	border-color: #006600;
	border-width: 2px;*/
	z-index: 1000;
}

#classesBlock #container .cbox .ctitle {
	padding-top: 20px;
	text-align: center;
}

#classesBlock #container .cbox .clogo {
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	height: 20px;
	width:40%;
}

#classesBlock #container .cbox img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#partnerBlock .box {
	position: relative;
	background-color: white;
	height: 200px;
	width: 200px;
	-moz-box-shadow: 10px 10px 20px #000000;
	-webkit-box-shadow: 10px 10px 20px #000000;
	box-shadow: 10px 10px 20px #000000;
	margin-left: 30px;
	float:left;
	margin-bottom: 20px;

}

#partnerBlock .bactive {
	position: relative;
	background-color: white;
	height: 200px;
	width: 200px;
	-moz-box-shadow: 10px 10px 20px #006600;
	-webkit-box-shadow: 10px 10px 20px #006600;
	box-shadow: 10px 10px 20px #006600;
	margin-left: 30px;
	float:left;
}


#partnerBlock .box .gtitle {
	padding-top: 20px;
	text-align: center;
}

#partnerBlock .box .glogo {
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
	height: 80px;
	width:80%;
}

#partnerBlock .box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#partnerBlock .box .gdistance {
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	height: 80px;
	width:80%;
	text-align: center;
}

#partnerBlock .box .gmatches {
  position:absolute;
  bottom:5px;
  left:10;
  right:0;
}

.gmatchratio {
	
}


.classModal {
	width: auto;
	height: auto;
	background-color: #00415f;
	left: 45%;
}

.modal-body {
	background-color: white;
}


#myModalLabel {
	color: white; 
}


#classMessage {
	float: right;
	margin-right: 40px;
}


#myModal #modal-body .modalCont {
	position: relative;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	height: 250px;
	width: 285px;
	background-color: white;
}

#timeMenu {
	margin-top: 10px;
}

.modalCont #classInstructor {
	text-align: center;
}

.modalCont #classDesc {
	margin-top: 40px;
	height: 60px;
	overflow: hidden;
}

.modalCont #classSched {
	margin-top: 20px;
}

.modalCont #classSched .day {
	height: 30px;
	width: 300px;
	margin-right: 5px;
}

.modalCont #classSched .weekday {
	float: left;
	width: 30px;
	margin-right: 45px;
}

.modalCont #classSched .time {
	float: left;
	margin-left: 10px;
}

.modalCont #classSched #scheduler {
	position: relative;
	float: left;
}

.modalCont #classSched #schedulerDate {
	float: left;
	position: relative;
	width: 50px;
}


.modalCont #classSched #schedulerTime {
	float: left;
	width: 50px;
}


.modalCont #gymLogo {
	width: 40px;
	float: left;
	margin-left:auto;
	margin-right:auto;
}

.modalCont #gymInfo {
	margin-top: 5px;
	float: left;
	height: 80px;
}

.map {
    position:absolute;                  /* added */
    bottom:0;                           /* added */
    left:0;  
	display: block;
    width: 150px;
    height: 150px;
}

#clearSearchBlock {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
}

#clearSearchBlock #clearSearch{
	margin-left: auto;
	margin-right: auto;
}

.eventInfo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#eventImg {
	height:40px;
	width:40px;
	margin-right: auto;
	margin-left: auto;
}

/**************************** Calendar ****************************/
#schedDiv {
	height: 100%;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

.schedBox {
	position: relative;
	background-color: white;
	height: 80px;
	width: 80px;
	-moz-box-shadow: 10px 10px 20px #000000;
	-webkit-box-shadow: 10px 10px 20px #000000;
	box-shadow: 10px 10px 20px #000000;
	/*margin-left: 30px;*/
	/*float:left;*/
	margin-bottom: 20px;

}

#calheader{
	width:100%;
	height:30px;
	text-align:center;
}
#calheader h2{
	margin-top:15px;
}
#calcontainer{
	float:left;
	margin-bottom:10px;
}
#daycal{
	clear:both;
}
.dayweek{width:120px;height:30px;float:left;border-right:1px solid #e5e5e5;}
.dayweek p{display:block;text-align:center;font-size:10px;line-height:31px;text-shadow:0 1px 0 #ffffff;}
.week{overflow:auto;border-top:1px solid #c2c2c2;}
.weeku{overflow:auto;border-top:1px solid #c2c2c2;border-bottom:1px solid #e5e5e5;}
.today{background:#fffcdf;border-right:1px solid #e5e5e5;}
.today .daybar{background:#fffac1;}
.dayp{width:120px;float:left;border-right:1px solid #e5e5e5;}
.brn{border-right:none;}
.bun{border-bottom:none;}
.day:hover{background:#e9f0f8;cursor:pointer;}
.daybar{width:100%;float:left;background:#f3f3f3;}
.daybar p{margin-left:5px;margin-top:3px;margin-bottom:3px;font-size:10px;font-weight:400;color:#969696;text-shadow:0 1px 0 #ffffff;}
.open {min-height: 600px;}
ol,ul{list-style:none;}