#body {
	background-color: #00405E;
	margin: 0 auto !important;
}

body.fancybox-lock{
	overflow:visible !important; // Solves moving the page to the top 
	margin-right:auto !important; // Solves the shifting of my whole page to the left 
}

#container {
	background-color: white;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
}

#header {
    box-shadow: 0 1px 0 #0D0D1E;
	background-color: #2E7E97;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#2E7E97), to(#00405E));
    background-image: -webkit-linear-gradient(top, #2E7E97 0%, #00405E 100%);
    background-image: -moz-linear-gradient(top, #2E7E97 0%, #00405E 100%);
	background-image: -ms-linear-gradient(top, #2E7E97 0%, #00405E 100%);
	background-image: -o-linear-gradient(top, #2E7E97 0%, #00405E 100%);
	background-image: linear-gradient(top, #2E7E97 0%, #00405E 100%);
    border-bottom: 1px solid #24233D;
    border-bottom-left-radius: 10px 5px;
	border-bottom-right-radius: 10px 5px;
}


#user-nav .btn-inverse {
    background-color: #33324B;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#2E7E97), to(#00405E));
    background-image: -webkit-linear-gradient(top, #2E7E97 0%, #00405E 100%);
    background-image: -moz-linear-gradient(top, #2E7E97 0%, #00405E 100%);
    background-image: -ms-linear-gradient(top, #2E7E97 0%, #00405E 100%);
    background-image: -o-linear-gradient(top, #2E7E97 0%, #00405E 100%);
	background-image: linear-gradient(top, #2E7E97 0%, #00405E 100%);
	border-top-color: #1F1E38;
}

#user-nav .btn-inverse > a {
    color: #ffffff;
    color: rgba(255,255,255,0.6);
}


#search input[type=text], #search button {
	background-color: #00405E;
}
#search input[type=text]:focus {
	color: #777777;
}
